/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/** Farbtastic Color Picker 1.2 © 2008 Steven Wittens  This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version.  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.  You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA */
.farbtastic { position: relative; }

.farbtastic * { position: absolute; cursor: crosshair; }

.farbtastic, .farbtastic .wheel { width: 195px; height: 195px; }

.farbtastic .color, .farbtastic .overlay { top: 47px; left: 47px; width: 101px; height: 101px; }

.farbtastic .wheel { background: url(../images/farbtastic/wheel.png) no-repeat; width: 195px; height: 195px; }

.farbtastic .overlay { background: url(../images/farbtastic/mask.png) no-repeat; }

.farbtastic .marker { width: 17px; height: 17px; margin: -8px 0 0 -8px; overflow: hidden; background: url(../images/farbtastic/marker.png) no-repeat; }

.typo-main-title { font-size: 2em; font-family: "Gravitas One", cursive; }

.typo-h1 { font-size: 1em; font-weight: bold; margin-bottom: 1em; display: block; }

.typo-h2 { font-size: 0.8em; font-weight: bold; margin-bottom: 1em; display: block; }

body { background-color: #cccccc; font-family: "verdana", sans-serif; font-size: 0.8em; }

#colorTshirt { margin: 0 auto; position: relative; }
#colorTshirt .zone-edition { position: absolute; border: 1px solid pink; width: 100px; top: 90px; left: 96px; white-space: normal; word-wrap: break-word; }

*::selection { color: white !important; background-color: orange !important; }

*::-moz-selection { color: white !important; background-color: orange !important; }

.mod-wrapper { margin: 0 auto; padding: 20px 50px; background-color: white; -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box; /* Firefox, other Gecko */ box-sizing: border-box; /* Opera/IE 8+ */ }

.mod-header { padding: 20px 0px; }

.ico-shirt div { display: inline-block; width: 43%; padding: 5px; }
.ico-shirt div:hover { cursor: pointer; }
.ico-shirt div.selected { border: solid 1px red; }

.mod-col1 { width: 30%; display: inline-block; vertical-align: top; }

.mod-col2 { width: 65%; display: inline-block; border: 1px solid #cccccc; margin-left: 10px; margin-top: 30px; vertical-align: top; padding: 20px; -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box; /* Firefox, other Gecko */ box-sizing: border-box; /* Opera/IE 8+ */ }
.mod-col2 .sub-col-1 { display: inline-block; width: 50%; }
.mod-col2 .sub-col-1 textarea { width: 87%; height: 50px; text-align: left; }
.mod-col2 .no-col { margin-top: 35px; }
.mod-col2 .no-col legend { font-weight: bold; }
.mod-col2 .no-col fieldset { white-space: nowrap; }
.mod-col2 .no-col fieldset label { display: inline; }
.mod-col2 .no-col .form-info-perso input[type=text] { width: 87%; padding: 7px 5px; }

#colorpicker { display: inline-block; width: 48%; vertical-align: top; }

form .s-row { margin-bottom: 0.9em; }
form .s-row label { display: block; }

/* Responsive */
/* Large desktop */
@media (min-width: 1200px) { .mod-wrapper { width: 1200px; } }
@media (min-width: 980px) and (max-width: 1199px) { .mod-wrapper { width: 1024px; }
  .mod-col2 { width: 60%; margin-left: 60px; }
  .mod-col2 .sub-col-1 { width: 100%; } }
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { .mod-wrapper { width: 800px; }
  .mod-col2 { width: 50%; margin-left: 115px; }
  .mod-col2 .sub-col-1 { width: 100%; } }
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { .mod-wrapper { width: 500px; }
  #color { margin: 0 auto; }
  .mod-col1, .mod-col2 { width: 100%; }
  .mod-col2 { margin-left: 0; }
  .mod-col2 .sub-col-1 { width: 100%; }
  .typo-main-title { font-size: 1.5em; } }
/* Landscape phones and down */
@media (max-width: 480px) { .mod-wrapper { width: 400px; }
  .mod-col1, .mod-col2 { width: 100%; }
  .mod-col2 { margin-left: 0; }
  .mod-col2 .sub-col-1 { width: 100%; }
  .mod-col2 .no-col fieldset label { font-size: 0.9em; }
  .typo-main-title { font-size: 1.5em; } }
