/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "_plugins";

//Variables
$fontFamily1 : 'Gravitas One', cursive;
$geoFont : 'Geo', sans-serif;
$verdanaFont : 'verdana', sans-serif;
$libreFont : 'Libre Baskerville', serif;

$bgColor : #ccc;
$white : #fff;
$orange : orange;

//Placeholder Selectors
%width-desktop{

  width: 1300px; }
 
%width-tablet{
	
  width: 1024px; }
 
%width-mobile{
	
  width: 480px;  }
 
@mixin box-sizing {
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	
}

// Typo class 
.typo-main-title { font-size: 2em; font-family: $fontFamily1; }
.typo-h1 { font-size: 1em; font-weight: bold; margin-bottom: 1em; display: block; }
.typo-h2{ font-size: 0.8em; font-weight: bold; margin-bottom: 1em; display: block; }

//Principaux modules

body { background-color: $bgColor; }


*::selection { color:$white !important; background-color: $orange !important; }
*::-moz-selection {  color:$white !important; background-color: $orange !important; }

.mod-wrapper { 
	
	margin: 0 auto;
	padding: 20px 50px;
	background-color: $white;
	@include box-sizing; 
	
}
.mod-content { }
.mod-header { padding: 20px 0px;}

.mod-tshirt { }
.mod-col1 { width: 30%; display: inline-block;  vertical-align: top;}
.mod-col2 { width: 65%; display: inline-block; border: 1px solid $bgColor; margin-left: 10px; margin-top: 30px; vertical-align: top; padding: 20px; @include box-sizing; }

/* Responsive */

/* Large desktop */
@media (min-width: 1200px)  { 
	
	.mod-wrapper { 
		
			width: 1200px;
		
		}
 }
 
@media (min-width: 980px) and (max-width:1199px) { 

	.mod-wrapper { 

			width: 1024px;
		
		}
		
	.mod-col2  { width: 60%;margin-left: 60px; }
 }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	
	
	.mod-wrapper { 
		
			width: 800px;	
	}
	.mod-col2  { width: 50%; margin-left: 115px;}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	
	.mod-wrapper { 
		
		width: 500px;	
	}
	#color { margin: 0 auto; }
	.mod-col1, .mod-col2  { width: 100%;}
	.mod-col2  { margin-left: 0; }
	.typo-main-title { font-size: 1.5em; }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
	
	.mod-wrapper { 
		
			width: 400px;
			
		}
	.mod-col1, .mod-col2  { width: 100%;}
	.mod-col2  { margin-left: 0; }
	.typo-main-title { font-size: 1.5em; }
}


